/* Configuration générales */

html, body
{
    background-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
}

/* Configuration du Header */
header
{
    margin: 0px;
    width: 100%;
    height: 100px;
}

#Logo
{
    float: left;
    margin: 20px;
}

#ancres
{
    float: right;
    margin:30px;
}

#ancres_li li
{
    display: inline;
}

#ancre_hebergement, #ancre_activites, #ancre_inscription
{
    margin:20px;
}

#ancre_hebergement
{
   color: #0065FC;
   border-top: #0065FC;

}

/* Boutons Filtres et Hover Filtres */

#Eco, #Familial, #Romantique, #Animaux
{
    display:inline-flex;
    border: 2px solid #F2F2F2;
    width: 200px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 10px;
    font-weight: bold;
}

#Eco:hover, #Familial:hover, #Romantique:hover, #Animaux:hover 
{
    color:blue;
}

/* Positionnement et configuration des sections */

#cannebiere, #port, #mouettes, #mer, #panier, #amina
{
    display:block;
    float: left;
    width: 17%;
    height: 11%;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 5px;
}


#Hebergements
{
    display: flex;
    flex-wrap: wrap;
    border-radius:10px;
}

section img, aside img
{
    max-width: 100%;
    max-height: 100%;
}

#Hebergements
{
    display: flex;
    align-items: flex-start;
    width: 800px;
    height: 50%;
    background-color: #F2F2F2 ;
    margin:10px;
    padding:10px;    
}

aside
{
    float:right;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2 ;
    border-radius: 10px;
    padding:20px;
    margin-top: 0px;
    margin-right:40px;

}



#Activites
{
    display: inline-block;
    flex-direction: row;
}

/* Configuration du footer */

footer
{
    background-color: #F2F2F2 ;
    margin:0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* Configurations générales*/
/* Supression des puces et de la tabulation ul */

ul 
{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

/* Suppression des liens déjà visités en violet, et des liens à visiter en bleu */
a 
{
    text-decoration: none;
    color: #000000;
}

/* Couleur et options des icones */

.fas
{
    color:#0065FC;
    padding: 5px 5px;
    border-radius: 100%;
}

#populaires .fas
{
    color:#000000;
}

.bluestar
{
    color:#0065FC;
}

.greystar /* A modifier en gris */
{
    color:red;
}

.Note
{
    display: inline-flex;
    list-style: none;
}
